<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <h1>Calculator</h1>
        <form action="" method="post">
          <input
            type="text"
            name="num1"
            placeholder="First Number"
            value="{{num1}}">
          <select name="operation">
            <option value="+" {% if operation == '+' %}selected{% endif %}>+</option>
            <option value="-" {% if operation == '-' %}selected{% endif %}>-</option>
            <option value="*" {% if operation == '*' %}selected{% endif %}>*</option>
            <option value="/" {% if operation == '/' %}selected{% endif %}>/</option>
          </select>
          <input
            type="text"
            name="num2"
            placeholder="Second Number"
            value="{{num2}}">
          <button type="submit" name="Submit">Calculate</button>
          <div>Result: {{ res }}</div>
          <a href="/history">History</a>
        </form>
      </div>
    </div>
  </body>
</html>